@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

body {
    background-image: url(./assets/images/neha-maheen-mahfin-TOKRHlWE56s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    margin-left: 5px;
}

.weather-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
    background-image: url(./assets/images/download-icon-sunny+temperature+weather+icon-1320196637430890623_256.png);
    width: 256px;
    height: 256px;
}

.weather-info {
    color: #ffff;
    text-align: center;
    letter-spacing: 2px;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: var(--main-box-shadow);
}

.temp-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.temp-info>span {
    margin-left: 5px;
}

.temp-info>p:first-child {
    margin-right: 15px;
    color: #c6c6c6;
}

#humidityIcon {
    background-image: url(./assets/images/humidity.png);
    background-position: center center;
    background-size: contain;
    height: 42px;
    width: 42px;
    filter: brightness(0) invert(1);
}

.sky-button-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sky-button-container > span {
    flex: 1;
    margin-left: 50px;
}

.sky-button-container > button {
    margin-left: auto;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 1px 15px;
    width: 50px;
    cursor: pointer;
}

.location-details {
    margin-top: 20px;
    color: #ffff;
    text-align: center;
    letter-spacing: 2px;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: var(--main-box-shadow);
}

.location-info, .time-info {
    display: flex;
    flex-direction: column;
}

.location-info {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.time-info {
    margin-top: 10px;
}

#locationName {
    font-size: 1.7rem;
    font-weight: 800;
}

#countryInfo {
    font-size: 1.4rem;
}

.search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-right: 340px;
    margin-top: 20px;
}

#searchBar {
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
    border: none;
    width: 20%;
    border: 0;
    border-bottom: 2px solid #efefefef;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

#searchBar::placeholder {
    color: transparent;
}

#searchBar:placeholder-shown~.location-label {
    font-size: 1.3rem;
    cursor: text;
    top: 10px;
}

.location-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #efefef;
}

#searchBar:focus {
    outline: none;
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

#searchBar:focus~.location-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

#searchBar:required,
.location-label:invalid {
    box-shadow: none;
}

#searchButton {
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 0.8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: black;
    box-shadow: var(--main-box-shadow);
}

.error-para {
    color: rgb(149, 4, 4);
    text-shadow: 0px 0px 25px rgba(255, 0, 0, 1);
    margin-top: 10px;
    font-size: 1.2rem;
}